<!-- filter-radios.component.html -->
<div class="w-full max-w-4xl mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-6 text-center">Selecciona tu filtro</h2>
    
    <app-filtroseleccion 
      [options]="filterOptions" 
      [initialSelection]="selectedFilter"
      (filterSelected)="onFilterSelected($event)">
    </app-filtroseleccion>

</div>
    <!-- Componentes que se muestran según la selección -->
    <div class="mt-8 grid grid-cols-1 gap-6">
        <!-- Componente Todos -->
        @if(showTodos){
        <app-fidelizacion>
        </app-fidelizacion>
        }
        @if(showActivos){
        <app-paquetes>
        </app-paquetes>
        }
    </div>