<div class="w-full max-w-4xl mx-auto">
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-6">
        <div class="flex flex-wrap justify-center gap-4">

            @for (option of options; track option.value) {
                <div class="radio-option flex-grow">
                    <input [(ngModel)]="selectedFilter" 
                           (change)="onFilterChange()" 
                           type="radio" 
                           [id]="'filter-option-' + option.value" 
                           name="dynamic-filter-options" 
                           [value]="option.value" 
                           class="hidden peer">
                           
                    <label [for]="'filter-option-' + option.value"
                        class="flex flex-col items-center justify-between w-full h-full p-4 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:border-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 transition-all duration-200">
                        
                        <div class="flex flex-col items-center text-center">
                            <i [class]="option.iconClass + ' text-2xl mb-2'"></i> 
                            <div class="text-lg font-semibold">{{ option.label }}</div>
                        </div>

                        <i
                            class="fas fa-check-circle text-lg mt-2 opacity-0 peer-checked:opacity-100 text-blue-600 dark:text-blue-500"></i>
                    </label>
                </div>
            }
        </div>
    </div>
</div>